@charset "utf-8";

/* option */

* {
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: serif;
    color: #fff;
    background-color: #000;
}


/* header */

#header {
    margin-bottom: 30px;
}

header {
    display: flex;
    height: 80px;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 24px;
}

header ul {
    display: flex;
    gap: 30px;
}

header ul li a {
    font-size: 16px;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

header ul li a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

#title-link {
    color: #fff;
}

@media screen and (max-width:600px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .break .br::before {
        content: "\A";
        white-space: pre;
    }

    #header {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:768px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
    }

    ul {
        justify-content: center;
        margin-top: 3%;
    }
}

@media screen and (max-width:1024px) {}


/* article */


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}


h3 {
    font-size: 50px;
    letter-spacing: 15px;
    /* margin-bottom: 50px; */
    text-align: center;
}

.about img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}


.about p {
    line-height: 2em;
}

.about-text {
    text-align: center;
}

.about-text a {
    padding: 20px;
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
}

.about-text a:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #000;
}

.about {
    margin-bottom: 60px;
}


@media screen and (max-width:600px) {

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .about {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0;
        gap: 20px;
    }

    article {
        padding: 0 4%;
    }

    .wrapper {
        height: auto;
    }

    .about-text {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:768px) {

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .about {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0;
        gap: 20px;
    }

    article {
        padding: 0 4%;
    }

    .wrapper {
        height: auto;
    }

    .about-text {
        margin-bottom: 100px;
    }

}

@media screen and (max-width:1024px) {

    h3 {
        text-align: center;
    }

    .about {
        padding: 10px;
    }

}


/* skill */

h4 {
    text-align: center;
    margin-bottom: 30px;
}

#h4-color {
    color: yellow;
}

#skill {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#skill dl {
    display: flex;
    justify-content: center;
    gap: 70px;
}


@media screen and (max-width:600px) {

    #skill {
        padding: 0 4%;
    }

    #skill dl {
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {

    #skill {
        padding: 0 4%;
    }

}

@media screen and (max-width:1024px) {}



/* js */

body {
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}