@charset "utf-8";

/* option */

* {
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: serif;
    color: #fff;
    background-color: #000;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* header */

header {
    display: flex;
    height: 80px;
    /* padding: 0 6%; */
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
}

header ul {
    display: flex;
    gap: 30px;
}

header ul li a {
    font-size: 16px;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

header ul li a:hover {
    opacity: 50%;
    transition: 0.3s;
}

#title-link {
    color: #fff;
}

.first-view {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 30px;
}

#img-link a:hover {
    color: #000;
    opacity: 50%;
    transition: 0.3s;
}



@media screen and (max-width:600px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .break .br::before {
        content: "\A";
        white-space: pre;
    }

}

@media screen and (max-width:768px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
        padding-top: 4%;
    }

    ul {
        justify-content: center;
        margin-top: 3%;
    }

    .first-view img {
        padding-top: 8%;
    }

}

@media screen and (max-width:1024px) {

    header {
        padding: 0 4%;
    }

    .first-view {
        padding: 0 4%;
    }
}


/* main */

h2 {
    font-size: 50px;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

main img {
    display: block;
}

main p {
    font-size: 20px;
    margin-bottom: 25px;
}

main dl {
    margin-top: 70px;
}

main dt {
    font-size: 28px;
    margin-bottom: 10px;
    color: yellow;
}

.dl-detail {
    margin-bottom: 30px;
}


/* slideshow */


.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.img-container {
    width: 60%;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid #fff;
}

.single-item {
    height: 100%;
    max-height: 400px;
    overflow: hidden;
}

.single-item li {
    height: 100%;
}

.single-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:600px) {}

@media screen and (max-width:768px) {

    h2 {
        text-align: center;
    }

    .break .br::before {
        content: "\A";
        white-space: pre;
    }

    main p {
        text-align: center;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .text-margin {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1024px) {

    main {
        padding: 0 4%;
    }
}





/* footer */


footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    margin-top: 70px;
    padding: 0 5%;
}

footer a {
    display: inline-block;
    padding: 1em 2em;
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
    white-space: nowrap;
    box-sizing: border-box;
}

footer a:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #000;
}


/* js */

body {
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}