@charset "utf-8";

/* option */

* {
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
}

body {
    font-family: serif;
    color: #fff;
    background-color: #000;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__contents {
    text-align: center;
}

.loading__text {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1em;
}

#loader-bar {
    position: absolute;
    bottom: 300px;
    left: 0;
    height: 4px;
    background: yellow;
    width: 0%;
    transition: width 0.3s ease;
}



#content {
    /* display: none; */
}


/* header */

header {
    display: flex;
    height: 80px;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 24px;
    color: #fff;
}

header ul {
    display: flex;
    gap: 30px;
}

header ul li a {
    font-size: 16px;
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

header ul li a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

header h1 a {
    color: #fff !important;
    text-decoration: none;
}

@media screen and (max-width:600px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .break .br::before {
        content: "\A";
        white-space: pre;
    }
}

@media screen and (max-width:768px) {

    header {
        display: block;
        padding-top: 4%;
    }

    h1 {
        text-align: center;
    }

    ul {
        justify-content: center;
        margin-top: 3%;
    }
}

@media screen and (max-width:1024px) {}


/* first-view */

.first-view {
    background-image:
        url(img/hero-img2.png),
        radial-gradient(circle, transparent 50%, black 100%);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    aspect-ratio: 14 / 16;
    margin: 0 auto;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    margin-bottom: 100px;
    overflow: hidden;
    max-width: 100vw;
}



h2 {
    width: 500px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 auto;
}

.title-animation {
    font-size: 2rem;
    color: #fff;
    opacity: 0;
    animation: fadeUp 3s ease-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;

    }

    15% {
        opacity: 0;
    }

    30% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;

    }
}

@media screen and (max-width:600px) {

    .first-view {
        padding: 0 4%;
    }
}

@media screen and (max-width:768px) {

    .first-view {
        padding: 0 4%;
    }
}

@media screen and (max-width:1024px) {

    .first-view {
        padding: 0 4%;
    }
}

/* content */

/* article */

#article {
    margin-bottom: 200px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}


h3 {
    font-size: 50px;
    letter-spacing: 15px;
    margin-bottom: 50px;
}

.about img {
    width: 200px;
    height: 200px;
    /* 明示的に正方形にする */
    object-fit: cover;
    /* はみ出た部分はトリミング */
    border-radius: 50%;
    /* 100%よりこっちが一般的 */
    border: 3px solid #fff;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}


.about p {
    line-height: 2em;
}

.about-text {
    text-align: center;
}

.about-text a {
    padding: 20px;
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
}

.about-text a:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #000;
}


@media screen and (max-width:600px) {

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .about {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0;
        gap: 20px;
    }

    article {
        padding: 0 4%;
    }

    .wrapper {
        height: auto;
    }

    .about-text {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:768px) {

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .about {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0;
        gap: 20px;
    }

    article {
        padding: 0 4%;
    }

    .wrapper {
        height: auto;
    }

    .about-text {
        margin-bottom: 100px;
    }

}

@media screen and (max-width:1024px) {

    h3 {
        text-align: center;
    }

    .about {
        padding: 10px;
    }

}


/* main */


h4 {
    font-size: 20px;
    border-bottom: #fff 1px solid;
    margin-bottom: 30px;
}

.hp-container p img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.hp-container .item1 {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    aspect-ratio: 16 / 9;
}

.hp-container .item2 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.hp-container .item3 {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}

.hp-container .item4 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

.hp-container .item5 {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}

.hp-container .item6 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    line-height: 40px;
    text-align: center;
    padding-top: 30px;
}

.hp-container .item6 dt {
    font-size: 24px;
}

.hp-container .item6 dd {
    font-size: 16px;
}

.hp-container .item7 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding-top: 60px;
}

.hp-container .item7 a {
    display: inline-block;
    padding: 1em 2em;
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
    white-space: nowrap;
    box-sizing: border-box;
}

.hp-container .item7 a:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #000;
}

.hp-container2 p img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hp-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.hp-container2 .item1 {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
}

.hp-container2 .item2 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.hp-container2 .item3 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.hp-container2 .item4 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.hp-container2 .item5 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

.hp-container2 .item6 {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    line-height: 40px;
    text-align: center;
    padding-top: 30px;
}

.hp-container2 .item6 dt {
    font-size: 24px;
}

.hp-container2 .item6 dd {
    font-size: 16px;
}

.hp-container2 .item7 {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
    padding-top: 60px;
}

.hp-container2 .item7 a {
    display: inline-block;
    padding: 1em 2em;
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
    white-space: nowrap;
    box-sizing: border-box;
}

.hp-container2 .item7 a:hover {
    transition: 0.4s;
    color: #fff;
    background-color: #000;
}

@media screen and (max-width:600px) {

    .hp-container .item6 dl {
        font-size: 12px;
    }

    .hp-container .item7 {
        grid-column: 1 / 7;
        grid-row: 4 / 6;
        padding-right: 150px;
    }

    .hp-container2 .item7 {
        grid-column: 1 / 7;
        grid-row: 4 / 6;
        padding-right: 150px;
    }
}

@media screen and (max-width:768px) {

    .hp-container {
        grid-template-rows: auto auto auto auto;
    }

    .hp-container .item1 {
        grid-column: 1 / 7;
        grid-row: 2 / 4;
    }

    .hp-container .item2 {
        grid-column: 1 / 4;
        grid-row: 4 / 6;
    }

    .hp-container .item3 {
        grid-column: 4 / 7;
        grid-row: 4 / 6;
    }

    .hp-container .item4 {
        grid-column: 1 / 4;
        grid-row: 6 / 8;
    }

    .hp-container .item5 {
        grid-column: 4 / 7;
        grid-row: 6 / 8;
    }

    .hp-container .item6 {
        grid-column: 1 / 7;
        grid-row: 1 / 1;
        line-height: 30px;
        text-align: left;
        padding: 0px;
    }

    .hp-container .item6 dl dt {
        font-size: 10px;
    }

    .hp-container .item7 {
        grid-column: 3 / 5;
        grid-row: 8 / 10;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .hp-container2 {
        grid-template-rows: auto auto auto auto;
    }

    .hp-container2 .item1 {
        grid-column: 1 / 7;
        grid-row: 2 / 4;
    }

    .hp-container2 .item2 {
        grid-column: 1 / 4;
        grid-row: 4 / 6;
    }

    .hp-container2 .item3 {
        grid-column: 4 / 7;
        grid-row: 4 / 6;
    }

    .hp-container2 .item4 {
        grid-column: 1 / 4;
        grid-row: 6 / 8;
    }

    .hp-container2 .item5 {
        grid-column: 4 / 7;
        grid-row: 6 / 8;
    }

    .hp-container2 .item6 {
        grid-column: 1 / 7;
        grid-row: 1 / 1;
        line-height: 30px;
        text-align: left;
        padding: 0px;
    }

    .hp-container2 .item6 dl dt {
        font-size: 10px;
    }

    .hp-container2 .item7 {
        grid-column: 3 / 5;
        grid-row: 8 / 10;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1024px) {

    main {
        padding: 0 4%;
    }
}


/* aside */



/* footer */

footer {
    margin-bottom: 30px;
}

footer p {
    text-align: center;
}

/* js */

body {
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s ease-out 0.1s;
}

/* スクロール後、表示された時の状態 */
.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}