@charset "utf-8";




html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 全体の高さを設定 */
    overflow-x: hidden;
    /* 横スクロールを無効化 */
}

body {
    background-image: url('img/background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    background-image: url('img/background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.content {
    color: white;
    padding: 20px;
}

.wrap {
    margin-left: 120px;
    margin-right: 120px;
    font-family: serif;
}

/*********************** 設定終わり *********************/
.global-nav {
    /* position: fixed; */
    /* top: 732px;
    left: 0; */
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    padding: 0;
    border-right: solid 1px #fff;
}

main ul li {
    padding: 25px 20px 20px 20px;
    font-family: serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

main ul li a:hover {
    opacity: 50%;
    transition: 0.2s;
}

h1 {
    text-align: center;
    font-family: serif;
    padding: 200px 0px 0px 0px;
    font-size: 180px;
    margin: 0;
    /* border-bottom: solid; */
    /* background-color: #fff; */
}

.title {
    /* padding-bottom: 50px; */
    border-bottom: #fff solid 3px;
    height: 100vh;
}

.to {
    font-size: 70px;
    padding: 80px;
    color: rgb(194, 197, 197);
}

/* .ame {
    color: blue;
} */

/* .mame {
    color: #000;
} */

/* .mori {
    color: green;
} */

/*********************** header終わり *****************************/

h2 {
    border-left: solid;
    padding: 10px 10px 10px 30px;
    margin: 90px 0px 50px 0px;
    font-size: 40px;
}

.coffee-beans-size {
    width: 900px;
    height: 200px;
    border: solid 1px #fff;
    object-fit: cover;
}

.hot-coffee-size {
    width: 300px;
    border: solid 1px #fff;
}

.kodawari {
    display: flex;
    gap: 60px;
}

.kodawari-text {
    text-align: center;
    font-size: 20px;
}

.dash {
    font-family: sans-serif;
}

/************************** main終わり **************************/

h3 {
    text-align: center;
    border-bottom: dashed 1px;
    padding-bottom: 10px;
    font-size: 35px;

}

.menu-container {
    display: flex;
    flex-direction: column;
    border-right: dashed 1px;
    padding-right: 55px;
}

aside dd img {
    width: 150px;
    height: 230px;
    border: solid 1px #fff;
    object-fit: cover;
}

aside dt {
    text-align: center;
    padding-bottom: 10px;
}

aside dl {
    display: flex;
    gap: 15px;
}

.menu-container2 {
    display: flex;
    flex-direction: column;
}

.menu-border {
    border-bottom: dashed 1px #fff;
    padding-bottom: 12px;
}

.menu-border2 {
    border-bottom: dashed 1px #fff;
    padding-bottom: 12px;
    margin-top: 100px;
}

/************************* メニュー終わり *************************/

.access-container {
    display: flex;
    /* gap: 380px; */
    justify-content: space-evenly;
}

iframe {
    width: 500px;
}

.iframe-border {
    border: solid 1px #fff;
}

p {
    line-height: 40px;
}

.access-information {}

/* .outside-size {
    width: 1200px;
    height: 400px;
    border: solid 1px #fff;
    object-fit: cover;
    object-position: center;
} */

/************************ アクセス終わり *************************/

article img {
    width: 300px;
    border: solid 1px #fff;
    object-fit: cover;
    object-position: center;
}

.shop-coffee {
    display: flex;
    gap: 50px;
    width: 70%;
}

.shop-t-shirt {
    display: flex;
    gap: 50px;
}

.shop-container {
    display: flex;
    flex-direction: column;
}

article h4 {
    /* text-align: center; */
    font-size: 25px;
    line-height: 50px;
}

article p a {
    text-align: center;
    color: rgb(255, 100, 100);
    font-size: 20px;
}

article p a:hover {
    opacity: 50%;
    transition: 0.2s;
}

.shop-whole {
    display: flex;
    gap: 50px;
}

/********************* Shop終わり ********************/

footer {
    font-family: serif;
    margin: 90px 0px 0px 0px;
    padding: 0;
    border-top: dashed 1px #fff;
}

footer h4 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

footer img {
    width: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-sns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.footer-image {
    display: flex;
    gap: 50px;
}

footer li {
    list-style: none;
    font-size: 24px;
    text-align: center;
}

footer li a:hover {
    opacity: 50%;
    transition: 0.2s;
}

footer p a:hover {
    opacity: 50%;
    transition: 0.2s;
}

li {
    /* border-bottom: solid 1px rgba(255, 255, 255, 50%); */
    padding: 0px 10px 5px 10px;
    margin-right: 35px;
}